<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406428352376-r76uu1qis7roki0aaqr3m1cn90d42d5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406428352376-r76uu1qis7roki0aaqr3m1cn90d42d5h</string>
	<key>API_KEY</key>
	<string>AIzaSyDU4XpXquEVOEjJpfBhQCCqil8-jLZuQgk</string>
	<key>GCM_SENDER_ID</key>
	<string>406428352376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TheShopkeeper</string>
	<key>PROJECT_ID</key>
	<string>theshopkeeper</string>
	<key>STORAGE_BUCKET</key>
	<string>theshopkeeper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406428352376:ios:066db093a42d612664128d</string>
</dict>
</plist>